doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block title
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Pacifico',
    rel='stylesheet', type='text/css')
    link(href='css/style.css', rel='stylesheet', type='text/css')
  body
    block content
    script(src='js/helpers.js')
    script(src='js/game.js')
